.headline {
		font-family: Xerox Sans Bold;
		font-size: 60px;
		color: #ffffff;
		text-align:left;
		leading:-5pt;
}

.headlineSm {
		font-family: Xerox Sans Bold;
		font-size: 58px;
		color: #ffffff;
		text-align:left;
		leading:-4pt;
}

.headlineCenter {
		font-family: Xerox Sans Bold;
		font-size: 60px;
		color: #ffffff;
		text-align:center;
		leading:-5pt;
}

.header {
		font-family: Xerox Sans Bold;
		font-size: 40px;
		color: #ffffff;
		text-align:left;
}
		
.descSm {
		font-family: Xerox Sans;
		font-size: 30px;
		color: #ffffff;
		text-align:left;
}

.desc {
		font-family: Xerox Sans;
		font-size: 35px;
		color: #ffffff;
		text-align:left;
}

.descLg {
		font-family: Xerox Sans;
		font-size: 38px;
		color: #ffffff;
		text-align:left;
}